.App {
  margin: 0 auto;
  width:100%;
}
.App-nav {
  padding:10px;
  background-color:#4f9aff;
  display:flex;
  justify-content: flex-start;
}
.App-nav a {
  color:white;
  padding: 10px;
  text-decoration:none;
  font-weight:bold;
}

.App-nav .active{
  color:red;
}
.App-content{
  margin-left:20px;
}